.ui.small.shareVideo.modal
	.ui.icon.header
		i.share.icon
		|     You have shared this video!
	.content(style='text-align:center;')
		h3(style='text-align:left;') Note: The "Copy Link" feature is currently disabled. 
		h4(style='text-align:left;') However, we keep track of all the videos you would like to share, and at the end of the study, we will give you a list of the links. 
		.ui.left.labeled.button.large.centered
			.ui.basic.label.pathname
		.ui.icon.button(data-tooltip="Copy Link (DISABLED)", data-position="bottom center", data-variation="mini")
			i.copy.icon
	.actions   
		.ui.green.ok.inverted.button
			i.checkmark.icon
			|   Done
.ui.small.shareComment.modal
	.ui.icon.header
		i.share.icon
		| You have shared this comment!
	.content(style='text-align:center;')
		h3(style='text-align:left;') Note: The "Copy Link" feature is currently disabled. 
		h4(style='text-align:left;') However, we keep track of all the comments you would like to share, and at the end of the study, we will give you a list of the links. 
		.ui.left.labeled.button.large.centered
			.ui.basic.label.pathname
		.ui.icon.button(data-tooltip="Copy Link (DISABLED)", data-position="bottom center", data-variation="mini")
			i.copy.icon
	.actions   
		.ui.green.ok.inverted.button
			i.checkmark.icon
			|   Done