extends ui_layout

block content
  .two.wide.column(style="text-align: right; padding: 0;")
    button.circular.ui.icon.button.blue.big.centered.left.hidden(data-tooltip='Previous Video', style="margin: 0;")
      i.chevron.left.icon
  .twelve.wide.column
    each val, index in script
      include ./partials/actorPost
  .two.wide.column(style="text-align: left; padding: 0;")
    button.circular.ui.icon.button.blue.big.centered.right(nextVid=script[1].postID, data-tooltip='Next Video', style="margin: 0;")
      i.chevron.right.icon
    //- div is needed because a disabled button cannot display a tooltip.
    div.lastVid-button.hidden(data-html="This is the last video.</br>Click continue to proceed.", data-position="top center", style="width: fit-content;")
      button.circular.ui.icon.button.blue.big.centered.disabled.right(nextVid=script[1].postID, style="margin: 0;")
        i.chevron.right.icon
    .ui.large.button.green.lastVid-button.hidden(style="bottom: 10px; position: fixed;") Continue
    
block scripts
  script.
    var numComments = !{JSON.stringify(user.numComments)};
    var userProfile = !{JSON.stringify(user.profile)};
  script(src='/public/js/script.js')
  script(src='/public/js/lib/jquery.highlight-within-textarea.js')
  script(src='/public/js/postFunctionalities.js')

block styles 
  link(type='text/css', rel='stylesheet', href='/public/css/script.css')
  if disabledFunctionalitiies
    link(type='text/css', rel='stylesheet', href='/public/css/tutorial.css')
  link(type='text/css', rel='stylesheet', href='/public/css/jquery.highlight-within-textarea.css')