extends ./ui_layout

block styles 
    link(type='text/css', rel='stylesheet', href='/public/css/signup.css')

block content
  .thirteen.wide.column.centered
    h2(style="text-align:center;") Please now 
      span(style="text-decoration: underline") return to the Qualtrics Survey
      | &nbsp; to answer some questions.
    h3(style="text-align:center;") Thank you for engaging on
      img(src='https://dhpd030vnpk29.cloudfront.net/truman-objections/favicon.svg', height="50px", style="margin-bottom:-10px")
      span.title VidShare
      | !