#pagecontainer {
    padding-top: 53px;
    width: 100% !important;
    /*For single post on page*/
}

button.circular.ui.icon.button.blue.centered.hidden {
    display: none !important;
}


/* ---- VIDEO CSS ---- */

.ui.fluid.card {
    min-height: fit-content;
    margin: 0 !important;
    /*For single post on page*/
}

.ui.fluid.card.hidden {
    display: none !important;
}

video {
    width: 100%;
    min-height: calc(100vh - 330px);
    background-color: black;
}

.five.wide.column.centered {
    padding: 0 !important;
    border-right: #d4d4d5 solid 1px;
}


/* ---- VIDEO FUNCTIONALIIES CSS ---- */

.ui.button,
.ui.button:focus {
    background-color: #f9f9f9;
    margin: 0.75em 0.75em 0.75em 0px;
}

.content.buttons {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ui.like.button,
.ui.unlike.button,
.ui.flag.button,
.ui.share.button {
    /* -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease; */
    border: 1px solid #D3D3D3 !important;
    border-radius: 3em;
}

.ui.buttons.small {
    justify-content: space-around;
}

@media only screen and (max-width: 1320px) {
    .ui.buttons.small {
        justify-content: space-around;
        flex-direction: column;
    }
    .ui.labeled.button {
        margin: 0.25em;
    }
    .ui.labeled.button .ui.like.button {
        border-radius: 0 3em 3em 0;
    }
    .ui.labeled.button .ui.unlike.button {
        border-radius: 3em 0 0 3em;
    }
}

.secondary-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ui.left.labeled.button a {
    border-radius: 3em 0 0 3em;
}

.ui.right.labeled.button a {
    border-radius: 0 3em 3em 0;
}

.ui.labeled.button .ui.button {
    border-radius: 0;
}


/* .ui.like.button.green {
    background-color: #e0e0e0;
    border-color: #21ba45 !important;
    color: #21ba45 !important;
    font-weight: bold !important;
} */


/* ---- COMMENT FORM TO VIDEO AND COMMENTS CSS ---- */

.ui.form {
    display: inline-block;
    width: 100%;
    margin-top: 1em;
}

.ui.form>.inline.field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0em !important;
}

.ui.form>.inline.field>.image {
    min-width: 44px;
    height: 44px;
    background-color: #a6a488;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.ui.form>.inline.field>.image>img.ui.image.rounded {
    width: 65%
}

.ui.form>.inline.field>textarea {
    font-size: 1.1em !important;
    padding-right: 35px !important;
}

.ui.form>.inline.field>i.big.send.link.icon {
    position: absolute;
    right: 10px;
    top: 9px;
}


/* .ui.button.replyToVideo {
    float: right;
    margin-top: 1em !important;
    display: none;
} */

.ui.button.replyToComment {
    float: right;
    margin-top: 1em !important;
    font-size: 1.05em !important;
}


/* ---- COMMENTS ---- */

.ui.comments {
    margin-top: 1em;
    margin-bottom: 0.25em;
    max-height: calc(100vh - 350px);
    overflow-y: auto;
    max-width: none;
    display: flex;
    flex-direction: column;
}

.ui.comments .comment:first-child {
    margin: 0.5em 0 0 !important;
}

.comment {
    /* margin: 1em 1em 1em 0em; */
    padding: 0.5em !important;
}

.ui.comments,
.ui.comments>h3 {
    font-size: 1.25em;
}

.ui.comments>form.ui.reply.form {
    width: 100%;
}

.comment>.comments {
    padding-left: 3em !important;
    padding-bottom: 0em !important;
}

.comment>.image {
    width: 2.5em;
    height: 2.5em;
    margin: 0.2em 0.2em 0 0;
    float: left;
    background-color: #b7c9c8;
    border-radius: 50% !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.comment .image.hidden {
    display: none !important;
}

.comment>.image>a.avatar {
    margin: 0 !important;
}

.comment>.image>a.avatar>img {
    width: 65% !important;
}

.comment>.image~.content {
    margin-left: 3.5em
}

.comment>.content>.metadata {
    float: right;
}

.comment .content.hidden {
    display: none !important;
}

.glowBorder {
    box-shadow: 0 0 0 1px rgba(201, 186, 155, .22) inset, 0 2px 4px 0 rgba(201, 186, 155, .12), 0 2px 10px 0 rgba(201, 186, 155, .15);
    background-color: #fffaf3 !important;
    color: #573a08;
}

a.like.green {
    color: #16ab39 !important;
}

a.unlike.red {
    color: #db2828 !important;
}


/** when page width < 1250px **/

@media (max-width: 1250px) {
    .ui.reply.button,
    .ui.flag.button,
    .ui.share.button {
        border-style: solid;
        border-color: rgba(0, 0, 0, .3);
        border-width: 0.1px 0.1px 0 0;
    }
}

@media (max-width: 767px) {
    .ui.comments {
        height: auto !important;
        max-width: none;
    }
}